
.label-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;  
    background-color: #f1f5f9; 
    color: #000000;  
    font-size: 0.875rem;  
    border-width: 1px;  
    border-radius: 0.375rem;  
    cursor: pointer;
}

.label-input-span {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 0.5rem;  
    font-size: 0.875rem;  
    border-right-width: 1px;  
}

.label-input {
    width: 100%;
    padding-left: 0.5rem;  
    padding-right: 0.25rem;  
    padding-top: 0.5rem;  
    padding-bottom: 0.5rem;  
    background-color: #ffffff;  
    color: #000000;  
}

.label-input::placeholder {
    color: #cbd5e1;  
}

.label-input:focus {
    outline: none;  
}

.label-input:disabled {
    color: #6b7280;  
}
